<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/estilo.css">
    <title>{{ Titulo }}</title>
</head>
<body>
    <div class="card">
      <div class="page-header">
          <h1>{{ Titulo }}</h1>
      </div>
      <form action="/criar" method="post">
        <fieldset>
          <div class="form-grupo">
            <label for=numero>Numero</label>
            <input type="number" id="numero" name="numero" class="form-control">
          </div>
          <div class="form-grupo">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control">
          </div>
          <div class="form-grupo">
            <label for="tipo">Tipo</label>
            <input type="text" id="tipo" name="tipo" class="form-control">
          </div>
          <div class="form-grupo">
            <label for="altura">Altura</label>
            <input type="text" id="altura" name="altura" class="form-control">
          </div>
           <div class="form-grupo">
            <label for="peso">Peso</label>
            <input type="text" id="peso" name="peso" class="form-control">
          </div>
          <button class="btn-form" type="submit">Cadastrar Pokémon</button>
        </fieldset>
      </form>
    </div>
    <div><a href="/">Voltar à Página Inicial</a></div>

</body>
</html>