<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilo.css">
    <title>{{ Titulo }}</title>
</head>
<body>

    <h1>{{ Titulo }}</h1>
     {% for pokemon in lista %}
        <div class="card">
            <h3>{{pokemon[1]}}</h3>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon[0]}}.png">
            <p>Tipo: {{ pokemon[2] }}</p>
            <p>Altura: {{ pokemon[3] }}</p>
            <p>Peso: {{ pokemon[4] }}</p>
        </div>
     {% endfor %}
    <div>
    <a href="/">Voltar à Página Inicial</a>
    </div>
</body>
</html>
