<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilo.css">
    <title>Página Inicial</title>
</head>
<body>
    <h1>{{ Titulo }}</h1>
    <nav>
        <ul>
            <li><a href="/pokemon">Página Pokémon</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/exibir">Exibir</a></li>
            <li><a href="/sobre">Sobre Nós</a></li>

        </ul>
    </nav>
</body>
</html>
