<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilo.css">
    <title>Pokémons</title>
</head>
<body>

    <h1>{{ Banana }}</h1>
    <div class="card">
        <img src="/static/1.gif">
    </div>
    <div class="card">
        <img src="/static/4.gif">
    </div>
    <div class="card">
        <img src="/static/7.gif">
    </div>
    <div class="card">
        <img src="/static/25.gif">
    </div>
    <div>
    <a href="/">Voltar à Página Inicial</a>
    </div>
</body>
</html>
