<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilo.css">
    <title>Sobre Nós</title>
</head>
<body>
    <h1>{{ Banana2 }}</h1>
    <div class="card">
    <p>Este site foi criado para ensinar Flask de uma forma divertida e interativa, utilizando temas populares como Pokémon. Nosso objetivo é ajudar estudantes de programação a aprender de maneira prática e engajante, criando suas próprias rotas, páginas e funcionalidades em uma aplicação web.</p>
    <p>Esperamos que você aproveite o aprendizado e se divirta ao mesmo tempo!</p>
    </div>
    <a href="/">Voltar à Página Inicial</a>
</body>
</html>
